<div class="panel panel-default">
  <div class="panel-heading">Coordinate helper. Enter City or address.</div>
  <div class="panel-body">
    <form class="form-inline">
  <div class="form-group">
    <label for="Lat">Adress</label>
    {{input type="text" class="form-control" id="city" placeholder="ex. Berlin" value=address}}
  </div>
  <button type="submit" class="btn btn-default" {{action "getGeo"}}>Get coordinates</button>
</form><br>
	<div>Lat: {{lat}}</div>
	<div>Long: {{lng}}</div>
  </div>
</div>





{{yield}}
